@import '../assets/fonts/decima-mono.css';

:root {
  --text-color: #333;
  --background-color: #fff;
}

html {
  background-color: var(--background-color);
}
body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: 'DecimaMono', system-ui;
}

.notion-header{
  display: none;
}

.notion>.notion-frame{
  padding-top: 0;
}

.notion-text .notion-link {
  //color: #626282;
  color: #00AEE9;
}

.notion-text, .notion-title, .notion-h-title{
  color: #101042;
}

