.intro-popup{
  display: none!important;
}
.subscribe-widget{
  display: none!important;
}
.navbar-buttons{
  display: none!important;
}
.footer{
  display: none!important;
}
.home-sitemap{
  display: none!important;
}
//.poll-embed{
//  display: none!important;
//}
.subscribe-footer{
  display: none!important;
}
.portable-archive.empty-list{
  display: none!important;
}
.subscribe-iframe{
  height: 100px;
}