.intro-popup{
  display: none!important;
}
.subscribe-widget{
  display: none!important;
}
.navbar-buttons{
  display: none!important;
}
.footer{
  display: none!important;
}
.home-sitemap{
  display: none!important;
}
.subscribe-footer{
  display: none!important;
}
.subscribe-iframe{
  height: 120px;
}
.app-banner{
  display: none!important;
}
.post-ufi{
  display: none!important;
}
div[class*="frontend-main-home-ArchiveAdapted-module"] {
  display: none!important;
}
div[class*="frontend-pencraft-unstable-PillTabs-module"] {
  display: none!important;
}