[Unit]
Description=1NS Embedded Web Services
After=network.target

[Service]
Environment=PORT=80 HTTPS_PORT=443
Type=simple
User=worker
WorkingDirectory=/opt/dot-country-embedder/server
ExecStart=npx tsx /opt/dot-country-embedder/server/bin/run.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target
